@model Staff
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~\Image\Account\icons\favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/Account/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/Account/main.css">
	<link rel="stylesheet" type="text/css" href="~/css/error.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/Image/Account/img-01.png" alt="IMG">
				</div>

				<form id="registerForm" class="register-form validate-form">
					<span class="login100-form-title">
						Đăng ký
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="Username" placeholder="Tên đăng nhập">
						
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" id="HashPassword" name="HashPassword" placeholder="Mật khẩu">
						
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="ConfirmPassword" placeholder="Nhập lại mật khẩu">
						
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span>Loại quyền: </span>
						<select name="Role">
							<option value="Admin">Admin</option>
							<option value="NVK">Nhân viên kho</option>
							<option value="NVBH">Nhân viên bán hàng</option>
						</select>
						
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" name="register" id="register">
							Đăng ký
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="~/js/Account/Register/validate.js"></script>
	<script src="~/js/Account/Register/ajax.js"></script>

</body>
</html>
